@using System.Reflection
@{
    var assembly = Assembly.GetAssembly(typeof(MvcApplication));
    var assemblyName = assembly.GetName().Name;
    var gitVersionInformationType = assembly.GetType(assemblyName + ".GitVersionInformation");
    if (gitVersionInformationType != null)
    {
        var product = assembly.GetCustomAttributes(typeof(AssemblyProductAttribute), true).FirstOrDefault() as AssemblyProductAttribute;
        var fields = gitVersionInformationType.GetFields();
        var informationalVersion = fields.FirstOrDefault(f => f.Name.Equals("FullSemVer"));

        <span>@string.Format("{0} v{1}", product.Product, informationalVersion.GetValue(null))</span>
    }
}
